@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>.Net app for Recruitment - Wojciech Pakoca.</p>
    <h1>Linki api:</h1>
    <p><a href="https://localhost:7296/classes">Classes</a></p>
    <p><a href="https://localhost:7296/students">Students</a></p>
    <p><a href="https://localhost:7296/teachers">Teachers</a></p>

</div>
