@using Szkola.Models
@model Teacher

<h1>Edit Teacher</h1>

<form asp-action="Edit" asp-controller="TeacherView" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EmploymentType">Employment Type:</label>
        <input asp-for="EmploymentType" class="form-control" />
    </div>
    <div class="form-group">
        <label for="DateOfEmployment">Date of Employment:</label>
        <input asp-for="DateOfEmployment" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="Index">Cancel</a>
